# Essentials
alias ll='exa -hal'
alias la='exa -a'
alias vim='nvim'
alias claer='clear'
alias c='clear'

# Git
alias gs='git status'
alias gd='git diff'
alias gl='git plog'
gpush() {
    cur_branch=$(git branch --show-current)
    has_remote=$(git branch -r --list "origin/$cur_branch")
    if [[ $has_remote ]]; then
        git push "$@"
    else
        echo "No remote branch found, creating one"
        git push --set-upstream origin "$cur_branch" "$@"
    fi
}
fzf-git-branch() {
    git rev-parse HEAD > /dev/null 2>&1 || return

    git branch --color=always --all --sort=-committerdate |
        grep -v HEAD |
        fzf --height 50% --ansi --no-multi --preview-window right:65% \
        --preview 'git log -n 50 --color=always --date=short --pretty="format:%C(auto)%cd %h%d %s" $(sed "s/.* //" <<< {})' |
        sed "s/.* //"
}
fzf-git-checkout() {
    git rev-parse HEAD > /dev/null 2>&1 || return

    local branch

    branch=$(fzf-git-branch)
    if [[ "$branch" = "" ]]; then
        echo "No branch selected."
        return
    fi

    git checkout $branch
}
alias gc='fzf-git-checkout'
alias lg='lazygit'

# Others
source-envfile() {
    set -a
    source "$1"
    set +a
}

alias sqlize='python ~/sqlize.py | pbcopy'
